<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
    <title> {{title}}</title>
    {% else %}
    <title>Structural Engineering Calculator</title>
    {% endif %}


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>

<body>
    <p>{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </p>
    {% block content %}{% endblock %}

</body>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>



</html>