{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="row">
        <h2>Wind Pressures</h2>
        <form method="POST" action="">
            <div class="row">
                <div class="input-field col s6">
                    <input id="location" type="text">
                    <label for="location">Location</label>
                </div>
            </div>
            <!-- Wind Form Examples -->
            <div class="row">
                <div class="input-field col s6">
                    {{form.region}} {{form.region.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.importance}} {{form.importance.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.terrain}} {{form.terrain.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.md}} {{form.md.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.kc}} {{form.kc.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.ridgeHeight}} {{form.ridgeHeight.label}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{form.ridgeHeight}} {{form.eavesHeight.label}}
                </div>
            </div>
            <div class="row">
                {{form.submit(class="white-text btn blue darken-3")}}
            </div>



           
        </form>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });
        </script> {% endblock content %}